body {
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 25px;
}

.photo-card {
  /* flex-basis: calc((100% - 120px) / 4); */
  width: calc((100% - 10px * 8) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.photo-card:hover {
  transform: scale(103%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery .photo-card {
  max-width: 250px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}

.picture {
  width: 250px;
  height: 170px;
  display: block;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px 0 10px 0;
  background: #5138b5;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #ffff;
  cursor: pointer;
}

.load-more-btn {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 30px;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #5138b5;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.load-more-btn.is-hidden {
  display: none;
}
